@font-face {
  font-family: maidragon;
  src: url(Claphappy.ttf);
}

input {
  display: block;
  width: 150px;
  height: 40px;
}

body {
  font-size: 25px;
  background-color: mediumaquamarine;
  text-shadow: 1px 1px purple;
}

h1 {
  text-align: center;
  font-size: 80px;
  margin-top: 5px;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 6px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 80px;
  color: mintcream;
  background-color: mediumaquamarine;
  text-shadow: .5px .5px purple;
}

h4 {
  margin-top: 100px;
  margin-bottom: -50px;
}

.inputs {
  display: inline-block;
}

.App {
  text-align: center;
  font-family: maidragon;
  color: whitesmoke;
}

.inputs {
  text-align: center;
}

label {
  text-align: center;
  width: 180px;
  font-size: 32px;
}

input {
  text-align: center;
  color: whitesmoke;
  margin-top: -0px;
  margin-bottom: 30px;
  width: 180px;
  font-size:24px;
  font-family: maidragon;   
  background-color: transparent; 
  border-width: 0 0 2px 0;
  border-color: white;
  border-radius: 2.50px;
  text-shadow: 1px 1px purple;
  box-shadow: 0px 1px purple;
}

input:focus {
  border-color: transparent;
}

/* unvisited link */
a:link {
  color: lightcyan;
}

/* visited link */
a:visited {
  color: lightcyan;
}

/* mouse over link */
a:hover {
  color: lightcyan;
}

/* selected link */
a:active {
  color: lightcyan;
}

.rc-slider {
  width: 50% !important;
  margin-left: 25%;
}